@media print
{    
	.no-print, .no-print *
	{
		display: none !important;
	}
}
body {
	overflow-x:hidden;	
	overflow-y:scroll;		
}
.viewport * {
	box-sizing:unset;
}
.navigation>ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	width:100%;
	padding:3mm;
}
.navigation>ul>li {
	float:left;
	margin-right:10px;
	cursor:pointer;
	color:#fff;
	font-size:4mm;
}
.navbar {
	overflow-y:scroll;
}
