<section class="modal" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <section class="modal-dialog modal-lg">
	<section class="modal-content">
	  <section class="modal-header">
		<button type="button" class="btn btn-default pull-right" data-dismiss="modal" aria-label="Close">Close</button>
		<h4 class="modal-title">Order</h4>
	  </section>
	  <section class="modal-body">
	  	<section class="container-fluid">
    	  	<section class="row">
    	  		<form id="product-modal-barcode-form" action="#">
        			<section class="input-group">
        				<input type="text" class="form-control input-lg" placeholder="Scan Barcode" id="product-modal-barcode"/>
        				<section class="input-group-btn">
        					<input type="submit" value="Enter" id="product-modal-go" class="btn btn-default btn-lg"/>
        				</section>
        			</section>
    			</form>
    	  	</section>
	  		<section class="row" style="border-bottom:1px solid #000">
	  			<section class="col-md-2 col-sm-2 col-xs-2">
	  				<label>Quantity</label>
	  			</section>
	  			<section class="col-md-10  col-sm-10 col-xs-10">
	  				<label>Product</label>
	  			</section>
	  			
	  		</section>
	  		<section id="order-product-list">
	  			
	  		</section>
  		</section>
	  	</section>
	  </section>
	  <section class="modal-footer">
		
	  </section>
	</section>
  </section>
 </section>
