<!--
    {{logo}}
-->
<!DOCTYPE html>
<html>
<head>
    <title>{{app_name}}</title>
	<meta charset="utf-8"/>
	<link rel="shortcut icon" href="img/site/icon.ico">
	<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; img-src 'self'; style-src 'self' 'unsafe-inline'"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="robots" content="noindex, nofollow"/>
	<script type="text/javascript" src="thirdParty/moment/js/moment.min.js"></script>
	<script type="text/javascript" src="thirdParty/accounting/js/accounting.min.js"></script>
	<link rel="stylesheet" href="thirdParty/bootstrap4/css/bootstrap.min.css"/>
	<!--font awesome-->
	<link rel="stylesheet" href="thirdParty/font-awesome/css/all.css" />
	<script src="thirdParty/font-awesome/js/all.min.js"></script>
	<!--accountingJS-->
	<script type="text/javascript" src="thirdParty/accounting/js/accounting.min.js"></script>
	<!--ChartJS-->
	<script type="text/javascript" src="thirdParty/chartJS/js/chart.bundle.js"></script>
	<!--bootstrap-->
	<link rel="stylesheet" href="thirdParty/animate/css/animate.css"/>
	<!-- CalendarView -->
	<link href="thirdParty/CalendarView/css/calendar.css" rel="stylesheet">
	<script src="thirdParty/CalendarView/js/calendar.js"></script>
	<script src="thirdParty/three/three.min.js"></script>
	<!--Mithril-->
	<script src="thirdParty/mithril/js/mithril.min.js"></script>
	<script type="application/javascript" src="js/translate.js"></script>
	<script type="text/javascript" src="thirdParty/jscookie/jscookie.js"></script>
	<script src="js/utils.js"></script>
	<script src="js/dashboard.js"></script>
	<link href="css/index.css" rel="stylesheet" type="text/css"/>
	<link href="css/dashboard.css" rel="stylesheet" type="text/css"/>
</head>
<body class="no-select">
	<section id="loading-overlay" class="bg-dark">
		<section id="loader"></section>
	</section>
	<section id="mithril-navbar-container">
	
	</section>
	<section id="mithril-notification-container">
		
	</section>
	<section class="container-fluid no-padding" id="mithril-container">

	</section>
</body>
</html>
