<!--
    {{logo}}
-->
<!DOCTYPE html>
<html>
<head>
	<title>{{app_name}}</title>
	<link rel="shortcut icon" href="img/site/icon.ico">
	<meta charset="utf-8" /> 
	<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; img-src 'self' http://localhost:8888/drawer http://127.0.0.1:8888/drawer http://localhost:8888/receipt http://127.0.0.1:8888/receipt; style-src 'self' 'unsafe-inline'">
	<meta name="robots" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, user-scalable=no">

    <meta property="APP_VERSION_MAJOR" content="{{app_version_major}}" />
    <meta property="APP_VERSION_MINOR" content="{{app_version_minor}}" />

	<link rel="stylesheet" href="thirdParty/animate/css/animate.css"/>
	<!--Mithril-->
	<script src="thirdParty/mithril/js/mithril.min.js"></script>
	<!--bootstrap-->
	<link rel="stylesheet" href="thirdParty/bootstrap4/css/bootstrap.min.css"/>
	<!--moment-->
	<script src="thirdParty/moment/js/moment-with-locales.min.js"></script>
	<!--font awesome-->
	<link rel="stylesheet" href="thirdParty/font-awesome/css/font-awesome.min.css" />
	<!--accountingJS-->
	<script type="text/javascript" src="thirdParty/accounting/js/accounting.min.js"></script>
	<!--ChartJS-->
	<script type="text/javascript" src="thirdParty/chartJS/js/chart.bundle.js"></script>
    <script type="text/javascript" src="thirdParty/jscookie/jscookie.js"></script>
	<!--custom script-->
	<script type="application/javascript" src="js/utils.js"></script>
    <script type="application/javascript" src="js/translate.js"></script>
	<script type="application/javascript" src="js/cash_register_mithril.js"></script>
	<link rel="stylesheet" href="css/index.css"/>
</head>
<body class="no-select">

</body>
</html>
